@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin,latin-ext);
/* line 4, ../sass/partials/base/_html.scss */
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* line 13, ../sass/partials/base/_html.scss */
h1, h2, .node-herald-project__content__build h3, h3 {
  font-weight: normal;
}

/* line 17, ../sass/partials/base/_html.scss */
h1 {
  font-size: 3.1em;
}

/* line 21, ../sass/partials/base/_html.scss */
h2, .node-herald-project__content__build h3 {
  font-size: 2.1em;
}

/* line 25, ../sass/partials/base/_html.scss */
h3 {
  font-size: 1.8em;
}

/* line 29, ../sass/partials/base/_html.scss */
dl {
  margin-top: 0;
  overflow: hidden;
}

/* line 35, ../sass/partials/base/_html.scss */
dt {
  float: left;
  clear: left;
  width: 35%;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  /* line 35, ../sass/partials/base/_html.scss */
  dt {
    float: none;
    width: auto;
  }
}

/* line 48, ../sass/partials/base/_html.scss */
dd {
  float: left;
  margin-left: 0;
  width: 65%;
}
@media screen and (max-width: 700px) {
  /* line 48, ../sass/partials/base/_html.scss */
  dd {
    float: none;
    width: auto;
  }
}

/* line 59, ../sass/partials/base/_html.scss */
a {
  color: #009ee0;
}

/* line 63, ../sass/partials/base/_html.scss */
a:hover {
  color: #14baff;
}

/* line 67, ../sass/partials/base/_html.scss */
table {
  width: 100%;
  margin-bottom: 30px;
}

/* line 72, ../sass/partials/base/_html.scss */
td {
  padding: 2px 5px;
}

/* line 4, ../sass/partials/base/_misc.scss */
ul.tabs li, ul.tabs li.active {
  display: block;
  float: left;
}
/* line 8, ../sass/partials/base/_misc.scss */
ul.tabs li a, ul.tabs li.active a {
  margin: 0;
  padding: 8px 10px;
  display: block;
  font-size: 14px;
  color: white;
  border: 0;
  background: #009ee0;
}
/* line 21, ../sass/partials/base/_misc.scss */
ul.tabs li a::before, ul.tabs li.active a::before {
  padding-right: .5em;
}
/* line 37, ../sass/partials/base/_misc.scss */
ul.tabs li.active a, ul.tabs li:hover a {
  background: #14baff;
}
/* line 42, ../sass/partials/base/_misc.scss */
ul.tabs li + li {
  margin-left: 2px;
}
/* line 46, ../sass/partials/base/_misc.scss */
ul.tabs.primary {
  border-bottom: 0;
}

/* line 51, ../sass/partials/base/_misc.scss */
ul.action-links {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: .9em;
}
/* line 59, ../sass/partials/base/_misc.scss */
ul.action-links a {
  text-decoration: none;
}
/* line 65, ../sass/partials/base/_misc.scss */
ul.action-links a::before {
  padding-right: .5em;
  font-size: .8em;
}

/* line 73, ../sass/partials/base/_misc.scss */
.herald-stats-filename, .csslint-results__details__result__file-name, .eslint-results__details__result__file-name, .drupal-cs-results__details__result__file-name, .herald-simpletest-results__details__result__test-name {
  padding: 2px 15px;
  font-size: 1.2em;
  font-weight: normal;
  background: #eaeaea;
  border-left: 5px solid;
}

/* line 83, ../sass/partials/base/_misc.scss */
.herald-stats-filename--ok, .csslint-results__details__result__file-name, .eslint-results__details__result__file-name, .herald-simpletest-results__details__result__test-name--passed {
  border-color: #39D34D;
}

/* line 87, ../sass/partials/base/_misc.scss */
.herald-stats-filename--minor, .drupal-cs-results__details__result__file-name--minor {
  border-color: #009ee0;
}

/* line 91, ../sass/partials/base/_misc.scss */
.herald-stats-filename--normal, .drupal-cs-results__details__result__file-name--normal, .herald-simpletest-results__details__result__test-name--exceptions {
  border-color: #ffa800;
}

/* line 95, ../sass/partials/base/_misc.scss */
.herald-stats-filename--critical, .csslint-results__details__result__file-name--error, .eslint-results__details__result__file-name--error, .drupal-cs-results__details__result__file-name--critical, .herald-simpletest-results__details__result__test-name--failed {
  border-color: #F7464A;
}

/* line 99, ../sass/partials/base/_misc.scss */
pre {
  background: #f7f7f7;
  padding: 5px 15px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?pcgg07");
  src: url("fonts/icomoon.eot?#iefixpcgg07") format("embedded-opentype"), url("fonts/icomoon.woff?pcgg07") format("woff"), url("fonts/icomoon.ttf?pcgg07") format("truetype"), url("fonts/icomoon.svg?pcgg07#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/partials/base/_icomoon.scss */
.icon, ul.tabs li a, ul.tabs li.active a, ul.action-links a, .node-herald-build__content__tasks .node-herald-task .node-herald-task__content__pending-message, .herald-ui-results__modal-link, [class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/partials/base/_icomoon.scss */
.icon-linkedin-with-circle:before {
  content: "\e602";
}

/* line 30, ../sass/partials/base/_icomoon.scss */
.icon-lifebuoy:before, .icon-help:before {
  content: "\e941";
}

/* line 34, ../sass/partials/base/_icomoon.scss */
.icon-history:before {
  content: "\e94d";
}

/* line 38, ../sass/partials/base/_icomoon.scss */
.icon-bell:before {
  content: "\e951";
}

/* line 42, ../sass/partials/base/_icomoon.scss */
.icon-calendar:before {
  content: "\e953";
}

/* line 46, ../sass/partials/base/_icomoon.scss */
.icon-bubble:before {
  content: "\e96b";
}

/* line 50, ../sass/partials/base/_icomoon.scss */
.icon-user:before {
  content: "\e971";
}

/* line 54, ../sass/partials/base/_icomoon.scss */
.icon-hour-glass:before, .icon-pending:before, .node-herald-build__content__tasks .node-herald-task .node-herald-task__content__pending-message:before {
  content: "\e979";
}

/* line 58, ../sass/partials/base/_icomoon.scss */
.icon-search:before {
  content: "\e986";
}

/* line 62, ../sass/partials/base/_icomoon.scss */
.icon-equalizer2:before, .icon-edit:before, ul.tabs li a.node--edit:before, ul.tabs li.active a.node--edit:before {
  content: "\e993";
}

/* line 66, ../sass/partials/base/_icomoon.scss */
.icon-cog:before {
  content: "\e994";
}

/* line 70, ../sass/partials/base/_icomoon.scss */
.icon-cogs:before {
  content: "\e995";
}

/* line 74, ../sass/partials/base/_icomoon.scss */
.icon-hammer:before {
  content: "\e996";
}

/* line 78, ../sass/partials/base/_icomoon.scss */
.icon-bug:before {
  content: "\e999";
}

/* line 82, ../sass/partials/base/_icomoon.scss */
.icon-pie-chart:before {
  content: "\e99a";
}

/* line 86, ../sass/partials/base/_icomoon.scss */
.icon-stats-dots:before {
  content: "\e99b";
}

/* line 90, ../sass/partials/base/_icomoon.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 94, ../sass/partials/base/_icomoon.scss */
.icon-list:before, .icon-projects:before {
  content: "\e9ba";
}

/* line 98, ../sass/partials/base/_icomoon.scss */
.icon-list2:before {
  content: "\e9bb";
}

/* line 102, ../sass/partials/base/_icomoon.scss */
.icon-flag:before {
  content: "\e9cc";
}

/* line 106, ../sass/partials/base/_icomoon.scss */
.icon-eye:before, .icon-view:before, ul.tabs li a.node--view:before, ul.tabs li.active a.node--view:before {
  content: "\e9ce";
}

/* line 110, ../sass/partials/base/_icomoon.scss */
.icon-question:before {
  content: "\ea09";
}

/* line 114, ../sass/partials/base/_icomoon.scss */
.icon-plus:before, ul.action-links a:before, .icon-add-project:before, .herald-ui-results__modal-link:before {
  content: "\ea0a";
}

/* line 118, ../sass/partials/base/_icomoon.scss */
.icon-info:before, .icon-about:before {
  content: "\ea0c";
}

/* line 122, ../sass/partials/base/_icomoon.scss */
.icon-cross:before {
  content: "\ea0f";
}

/* line 126, ../sass/partials/base/_icomoon.scss */
.icon-checkmark:before {
  content: "\ea10";
}

/* line 130, ../sass/partials/base/_icomoon.scss */
.icon-checkmark2:before {
  content: "\ea11";
}

/* line 134, ../sass/partials/base/_icomoon.scss */
.icon-checkbox-checked:before {
  content: "\ea52";
}

/* line 138, ../sass/partials/base/_icomoon.scss */
.icon-checkbox-unchecked:before {
  content: "\ea53";
}

/* line 142, ../sass/partials/base/_icomoon.scss */
.icon-radio-checked:before {
  content: "\ea54";
}

/* line 146, ../sass/partials/base/_icomoon.scss */
.icon-radio-checked2:before {
  content: "\ea55";
}

/* line 150, ../sass/partials/base/_icomoon.scss */
.icon-radio-unchecked:before {
  content: "\ea56";
}

/* line 154, ../sass/partials/base/_icomoon.scss */
.icon-filter:before {
  content: "\ea5b";
}

/* line 2, ../sass/partials/layout/_menu.scss */
.site__menu {
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: #eaeaea;
  border-right: 5px solid #ffa800;
  z-index: 10;
  overflow: hidden;
}

/* line 16, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu {
  padding-top: 60px;
}
/* line 19, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu .menu {
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu .menu li {
  display: block;
  margin: 0;
}
/* line 29, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu a {
  width: 60px;
  height: 60px;
  display: block;
  padding: 0.7em 0 0 0;
  color: #444444;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu a span {
  display: block;
  visibility: hidden;
}
/* line 49, ../sass/partials/layout/_menu.scss */
.site__menu__herald-menu a:hover, .site__menu__herald-menu a.active {
  background: #f7f7f7;
}

/* line 55, ../sass/partials/layout/_menu.scss */
body.admin-menu .site__menu__herald-menu {
  padding-top: 80px;
}

/* line 2, ../sass/partials/layout/_content.scss */
.site__content {
  margin: 0 0 0 60px;
  padding: 60px 30px;
}

/* line 7, ../sass/partials/layout/_content.scss */
.site__content__tabs-wrapper {
  overflow: hidden;
}

/* line 11, ../sass/partials/layout/_content.scss */
.site__content__tabs-wrapper__title {
  margin-top: 0;
  float: left;
  max-width: 50%;
  line-height: 1;
}
@media screen and (max-width: 700px) {
  /* line 11, ../sass/partials/layout/_content.scss */
  .site__content__tabs-wrapper__title {
    float: none;
    max-width: 100%;
  }
}

/* line 24, ../sass/partials/layout/_content.scss */
.site__content__tabs-wrapper__tabs {
  float: right;
}
@media screen and (max-width: 700px) {
  /* line 24, ../sass/partials/layout/_content.scss */
  .site__content__tabs-wrapper__tabs {
    float: none;
  }
}
/* line 31, ../sass/partials/layout/_content.scss */
.site__content__tabs-wrapper__tabs ul {
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;
}

/* line 2, ../sass/partials/components/herald_project/_node.scss */
.node-herald-project__content {
  overflow: hidden;
}

/* line 6, ../sass/partials/components/herald_project/_node.scss */
.node-herald-project__content__column {
  min-height: 1px;
  width: 40%;
  padding: 10px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  /* line 6, ../sass/partials/components/herald_project/_node.scss */
  .node-herald-project__content__column {
    float: none;
    width: auto;
    padding: 0;
    margin-bottom: 15px;
  }
}

/* line 22, ../sass/partials/components/herald_project/_node.scss */
.node-herald-project__content__build {
  margin-top: 30px;
  clear: both;
}
/* line 26, ../sass/partials/components/herald_project/_node.scss */
.node-herald-project__content__build h3 {
  margin: 0 0 15px 0;
}

/* line 4, ../sass/partials/components/herald_build/_node.scss */
.node-herald-project__content__build .node-herald-build h2, .node-herald-project__content__build .node-herald-build h3 {
  font-size: 1em;
  font-weight: bold;
}
/* line 8, ../sass/partials/components/herald_build/_node.scss */
.node-herald-project__content__build .node-herald-build h2 span, .node-herald-project__content__build .node-herald-build h3 span {
  font-weight: normal;
}

/* line 4, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task {
  float: left;
  padding: 5px 15px;
  width: 260px;
  height: 300px;
  background: #eaeaea;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/partials/components/herald_task/_node.scss */
  .node-herald-build__content__tasks .node-herald-task {
    float: none;
    width: auto;
    height: auto;
  }
}
/* line 20, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task > h2, .node-herald-build__content__tasks .node-herald-project__content__build .node-herald-task > h3, .node-herald-project__content__build .node-herald-build__content__tasks .node-herald-task > h3 {
  display: none;
}
/* line 24, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task .content {
  position: relative;
  text-align: center;
}
/* line 30, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task .herald-ui-results__stats__grade {
  font-size: 3em;
}
/* line 34, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task .node-herald-task__content__pending-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
/* line 46, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task .node-herald-task__content__pending-message:before {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 45%;
  font-size: 3em;
  color: #9e9e9e;
  visibility: visible;
}
/* line 60, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task--running .node-herald-task__content__pending-message::before {
  -moz-animation: task-running 2s infinite;
  -webkit-animation: task-running 2s infinite;
  animation: task-running 2s infinite;
}
/* line 64, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .node-herald-task + .node-herald-task {
  margin-left: 30px;
}
@media screen and (max-width: 700px) {
  /* line 64, ../sass/partials/components/herald_task/_node.scss */
  .node-herald-build__content__tasks .node-herald-task + .node-herald-task {
    margin-left: 0;
    margin-top: 30px;
  }
}
/* line 73, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .herald-ui-results__stats {
  margin: 0 auto;
  text-align: left;
}
/* line 79, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .field-name-herald-task-status {
  display: none;
}
/* line 83, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .field-name-herald-task-type {
  margin-bottom: 15px;
  min-height: 50px;
  font-weight: bold;
}
/* line 89, ../sass/partials/components/herald_task/_node.scss */
.node-herald-build__content__tasks .field-name-herald-task-type .field-label {
  display: none;
}

/* line 95, ../sass/partials/components/herald_task/_node.scss */
.herald-ui-results__modal-link {
  text-decoration: none;
}
/* line 101, ../sass/partials/components/herald_task/_node.scss */
.herald-ui-results__modal-link::before {
  padding-right: .5em;
  font-size: .9em;
}

@-moz-keyframes task-running {
  0% {
    color: #9e9e9e;
  }
  50% {
    color: #eaeaea;
  }
  100% {
    color: #9e9e9e;
  }
}
@-webkit-keyframes task-running {
  0% {
    color: #9e9e9e;
  }
  50% {
    color: #eaeaea;
  }
  100% {
    color: #9e9e9e;
  }
}
@keyframes task-running {
  0% {
    color: #9e9e9e;
  }
  50% {
    color: #eaeaea;
  }
  100% {
    color: #9e9e9e;
  }
}
/* line 2, ../sass/partials/components/form/_base.scss */
.form-textarea,
.form-text {
  padding: 2px 5px;
  font-size: 1.1em;
}
/* line 8, ../sass/partials/components/form/_base.scss */
.form-textarea:focus,
.form-text:focus {
  border-color: #009ee0;
}

/* line 2, ../sass/partials/components/ctools/_modal.scss */
div.ctools-modal-content {
  border-width: 0;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}
/* line 9, ../sass/partials/components/ctools/_modal.scss */
div.ctools-modal-content .modal-header {
  background: #eaeaea;
}
/* line 12, ../sass/partials/components/ctools/_modal.scss */
div.ctools-modal-content .modal-header .close {
  color: #444444;
}
/* line 15, ../sass/partials/components/ctools/_modal.scss */
div.ctools-modal-content .modal-header .close img {
  display: none;
}
/* line 21, ../sass/partials/components/ctools/_modal.scss */
div.ctools-modal-content .modal-title {
  color: #444444;
  font-weight: normal;
}

/* line 4, ../sass/partials/components/herald_drupal_cs/_report.scss */
.drupal-cs-results__details__result img.coder {
  display: none;
}
