
.herald-simpletest-results__details__result__test-name {
  @extend .herald-stats-filename;
}

.herald-simpletest-results__details__result__test-name--passed {
  @extend .herald-stats-filename--ok;
}

.herald-simpletest-results__details__result__test-name--exceptions {
  @extend .herald-stats-filename--normal;
}

.herald-simpletest-results__details__result__test-name--failed {
  @extend .herald-stats-filename--critical;
}

