
.node-herald-project__content {
  overflow: hidden;
}

.node-herald-project__content__column {
  min-height: 1px;
  width: 40%;
  padding: 10px;
  float: left;

  @include box-sizing(border-box);

  @media screen and (max-width: $breakpoint-mobile) {
    float: none;
    width: auto;
    padding: 0;
    margin-bottom: 15px;
  }
}

.node-herald-project__content__build {
  margin-top: 30px;
  clear: both;

  h3 {
    @extend h2;
    margin: 0 0 15px 0;
  }
}
