
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin,latin-ext);

body {
  padding: 0;
  margin: 0;

  font-size: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.1em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

dl {
  margin-top: 0;

  overflow: hidden;
}

dt {
  float: left;
  clear: left;
  width: 35%;

  font-weight: bold;

  @media screen and (max-width: $breakpoint-mobile) {
    float: none;
    width: auto;
  }
}

dd {
  float: left;
  margin-left: 0;
  width: 65%;

  @media screen and (max-width: $breakpoint-mobile) {
    float: none;
    width: auto;
  }
}

a {
  color: $blue;
}

a:hover {
  color: $light-blue;
}

table {
  width: 100%;
  margin-bottom: 30px;
}

td {
  padding: 2px 5px;
}