
.icon-projects {
  @extend .icon-list;
}

.icon-add-project {
  @extend .icon-plus;
}

.icon-view {
  @extend .icon-eye;
}

.icon-edit {
  @extend .icon-equalizer2;
}

.icon-pending {
  @extend .icon-hour-glass;
}

.icon-about {
  @extend .icon-info;
}

.icon-help {
  @extend .icon-lifebuoy;
}

