@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?pcgg07');
	src:url('fonts/icomoon.eot?#iefixpcgg07') format('embedded-opentype'),
		url('fonts/icomoon.woff?pcgg07') format('woff'),
		url('fonts/icomoon.ttf?pcgg07') format('truetype'),
		url('fonts/icomoon.svg?pcgg07#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon, [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-with-circle:before {
	content: "\e602";
}

.icon-lifebuoy:before {
	content: "\e941";
}

.icon-history:before {
	content: "\e94d";
}

.icon-bell:before {
	content: "\e951";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-user:before {
	content: "\e971";
}

.icon-hour-glass:before {
	content: "\e979";
}

.icon-search:before {
	content: "\e986";
}

.icon-equalizer2:before {
	content: "\e993";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-hammer:before {
	content: "\e996";
}

.icon-bug:before {
	content: "\e999";
}

.icon-pie-chart:before {
	content: "\e99a";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-list:before {
	content: "\e9ba";
}

.icon-list2:before {
	content: "\e9bb";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-question:before {
	content: "\ea09";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-radio-unchecked:before {
	content: "\ea56";
}

.icon-filter:before {
	content: "\ea5b";
}

