
ul.tabs {

  li, li.active {
    display: block;
    float: left;

    a {
      margin: 0;
      padding: 8px 10px;
      display: block;

      font-size: 14px;
      color: white;

      border: 0;
      background: $blue;

      @extend .icon;

      &::before {
        padding-right: .5em;
      }
    }

    a.node--view {
      @extend .icon-view;
    }

    a.node--edit {
      @extend .icon-edit;
    }
  }

  li.active, li:hover {

    a {
      background: $light-blue;
    }
  }

  li + li {
    margin-left: 2px;
  }

  &.primary {
    border-bottom: 0;
  }
}

ul.action-links {
  margin-top: 0;
  padding: 0;

  list-style: none;

  font-size: .9em;

  a {
    text-decoration: none;

    @extend .icon;
    @extend .icon-plus;

    &::before {
      padding-right: .5em;

      font-size: .8em;
    }
  }
}

.herald-stats-filename {
  padding: 2px 15px;

  font-size: 1.2em;
  font-weight: normal;

  background: $light-gray;
  border-left: 5px solid;
}

.herald-stats-filename--ok {
  border-color: $green;
}

.herald-stats-filename--minor {
  border-color: $blue;
}

.herald-stats-filename--normal {
  border-color: $orange;
}

.herald-stats-filename--critical {
  border-color: $red;
}

pre {
  background: lighten($light-gray, 5%);
  padding: 5px 15px;
}
