
.site__content {
  margin: 0 0 0 $menu-width;
  padding: 60px 30px;
}

.site__content__tabs-wrapper {
  overflow: hidden;
}

.site__content__tabs-wrapper__title {
  margin-top: 0;
  float: left;
  max-width: 50%;

  line-height: 1;

  @media screen and (max-width: $breakpoint-mobile) {
    float: none;
    max-width: 100%;
  }
}

.site__content__tabs-wrapper__tabs {
  float: right;

  @media screen and (max-width: $breakpoint-mobile) {
    float: none;
  }

  ul {
    margin: 0 0 15px 0;
    padding: 0;

    overflow: hidden;
  }
}