
.site__menu {
  width: $menu-width;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;

  background: $light-gray;
  border-right: 5px solid $orange;

  z-index: 10;
  overflow: hidden;
}

.site__menu__herald-menu {
  padding-top: $menu-width;

  .menu {
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
    }
  }

  a {
    width: $menu-width;
    height: $menu-width;
    display: block;
    padding: 0.7em 0 0 0;

    color: $dark-gray;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;

    overflow: hidden;
    @include box-sizing(border-box);

    span {
      display: block;

      visibility: hidden;
    }

    &:hover, &.active {
      background: lighten($light-gray, 5%);
    }
  }
}

body.admin-menu .site__menu__herald-menu {
  padding-top: $menu-width + 20px;
}
