
.drupal-cs-results__details__result {

  img.coder {
    display: none;
  }
}

.drupal-cs-results__details__result__file-name {
  @extend .herald-stats-filename;
}

.drupal-cs-results__details__result__file-name--minor {
  @extend .herald-stats-filename--minor;
}

.drupal-cs-results__details__result__file-name--normal {
  @extend .herald-stats-filename--normal;
}

.drupal-cs-results__details__result__file-name--critical {
  @extend .herald-stats-filename--critical;

}

