
div.ctools-modal-content {
  border-width: 0;

  overflow: hidden;
  @include box-sizing(border-box);
  @include box-shadow(1px 1px 5px #000);

  .modal-header {
    background: $light-gray;

    .close {
      color: $dark-gray;

      img {
        display: none;
      }
    }
  }

  .modal-title {
    color: $dark-gray;
    font-weight: normal;
  }
}
