
.node-herald-build__content__tasks {

  .node-herald-task {
    float: left;
    padding: 5px 15px;
    width: 260px;
    height: 300px;

    background: $light-gray;

    @include box-sizing(border-box);

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
      width: auto;
      height: auto;
    }

    > h2 {
      display: none;
    }

    .content {
      position: relative;

      text-align: center;
    }

    .herald-ui-results__stats__grade  {
      font-size: 3em;
    }

    .node-herald-task__content__pending-message {
      @extend .icon;
      @extend .icon-pending;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      visibility: hidden;

      &:before {
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 45%;

        font-size: 3em;
        color: darken($light-gray, 30%);

        visibility: visible;
      }
    }
  }

  .node-herald-task--running .node-herald-task__content__pending-message::before {
    @include animation(task-running 2s infinite);
  }

  .node-herald-task + .node-herald-task {
    margin-left: 30px;

    @media screen and (max-width: $breakpoint-mobile) {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .herald-ui-results__stats {
    margin: 0 auto;

    text-align: left;
  }

  .field-name-herald-task-status {
    display: none;
  }

  .field-name-herald-task-type {
    margin-bottom: 15px;
    min-height: 50px;

    font-weight: bold;

    .field-label {
      display: none;
    }
  }
}

.herald-ui-results__modal-link {
  @extend .icon;
  @extend .icon-plus;

  text-decoration: none;

  &::before {
    padding-right: .5em;

    font-size: .9em;
  }
}

@include keyframes(task-running) {
  0% { color: darken($light-gray, 30%); }
  50% { color: $light-gray; }
  100% { color: darken($light-gray, 30%); }
}
